body, html {
    margin: 0;
    height: 100%;
}

.images {
    width: 0;
    height: 0;
}

.image {
    background-size: 100%, 100%;
    position: absolute;
    width: 120px;
    height: 120px;
    border: 2px solid #fff;
    background : #fff;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    margin-top: -60px;
    margin-left: -60px;
}