body, html {
    margin: 0;
    height: 100%;
}

.images {
    width: 0;
    height: 0;
}

.image {
    position: absolute;
    width: 120px;
    height: 120px;
    border: 1px solid #000;
    background: red;
    margin-top: -60px;
    margin-left: -60px;
}