.SwipRoot {
    position: relative;
    height: 100%;
    width: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.SwipButton {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -100px;
    margin-top: -25px;
    background: #2196F3;
    border: 0;
    border-radius: 3px;
    color: #fff;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    width: 200px;
    height: 50px;
    font-size: 1.3em;
}

.SwipStage {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}


.SwipPoint {
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    margin: -35px 0 0 -35px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: rgba(125, 125, 125, 0.5);
    opacity: 0;
}

.SwipPoint--start-animation {
    animation: expand 0.3s;
}

@keyframes expand {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    75% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: scale(1);
    }
}
